- path = deposit_user_path(@user, :amount => drink.price.to_f * 100 * -1) if @user

.col-xs-6.col-sm-4.col-md-2.col-lg-1
  = link_to path || '#' do
    .thumbnail
      = image_tag drink.logo(:thumb), :title => drink.name
      .caption
        .text-center
          = drink.name
          %span.badge= humanized_money_with_symbol drink.price

