.col-6.col-sm-3.col-md-2.col-sm-2.col-lg-2.my-2.user{class: "#{user.initial}"}
  = link_to user, :title => user.name do
    .card.text-center
      .card-header
        %h6= user.name
      .card-body
        = gravatar(user)
