- model_class = User
.page-header
  %ul.thumbnails
    - @users.each do |user|
      %li.span2
        = link_to user_path(user) do
          .thumbnail
            = gravatar_image_tag(user.email)
            %h3
              = user.name
    %li.span2
      .thumbnail
        %h3 Not listed
        = link_to t('.new', :default => t("helpers.links.new")), new_user_path, :class => 'btn btn-primary'
