- model_class = Audit
%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Timestamp
    %th Amount
  - @audits.each do |audit|
    - if audit.difference > 0
      %tr.success
        %td= audit.created_at
        %td
          = audit.difference
          EUR
    - else
      %tr.error
        %td= audit.created_at
        %td
          = audit.difference
          EUR
  
  
  