@import "bootswatch/vapor/variables";
@import "bootstrap";
$outrun: true !default;
@import "bootswatch/vapor/bootswatch";

// make room for navigation bar
body { padding-top: 5rem; }

.navbar-brand {
  background-image: image_url('mete-logo.svg');
  background-position: 0em 0em;
  background-repeat: no-repeat;
  background-size: 2em;
  padding-left: 3em;
}

// sticky footer
html {
  position: relative;
  min-height: 100%;
}

body { margin-bottom: 4rem; }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

img.disabled {
  //see http://blog.nmsdvid.com/css-filter-property/
  //see http://stackoverflow.com/a/11842712
  filter: grayscale(100%) contrast(30%);
  opacity: 0.3;
}

.drink-panel img {
    height: 10rem;
    width: 10rem;
}

.user-filter {
  display: flex;
  overflow: hidden;
  .btn-group {
    flex: 1;
    .btn {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.drink-card {
  .card-header {
    .inner-header {
      height: 2.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      & > h6 {
        margin-bottom: 0;
      }
    }
  }
}

.user-card {
  .inner-header {
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    & > h6 {
      margin-bottom: 0;
    }
  }
}

.card-body {
  padding: 0.5rem;
}

.card-footer {
  padding: 0.25rem 1.25rem;
}

#user-page-avatar-holder img {
  width: 100%;
  height: auto;
}

.user {
  display: none;
}

label {
  margin-right: .5rem;
}

#user-page-avatar-holder img {
  width: 100%;
  height: auto;
}

.wrapped-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
