@import "bootswatch/slate/variables";
@import "bootstrap";
@import "formtastic-bootstrap";
@import "bootswatch/slate/bootswatch";

// make room for navigation bar
body { padding-top: 5rem; }

.navbar-brand {
  background-image: image_url('mete-logo.svg');
  background-position: 0.5em 0.5em;
  background-repeat: no-repeat;
  background-size: 2em;
  padding-left: 3em;
}

// sticky footer
html {
  position: relative;
  min-height: 100%;
}

body { margin-bottom: 4rem; }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

img.disabled {
  //see http://blog.nmsdvid.com/css-filter-property/
  //see http://stackoverflow.com/a/11842712
  filter: grayscale(100%) contrast(30%);
  opacity: 0.3;
}

.drink-panel img {
    height: 10rem;
    width: 10rem;
}

.card {
  height: 12rem;
}

.card-body {
  flex: 1 1 0;
  overflow: hidden;
}
#user-page-avatar-holder img {
  width: 100%;
  height: auto;
}

.user {
  display: none;
}

label {
  margin-right: .5rem;
}
