@import "bootswatch/slate/variables";
@import "bootstrap";
@import "bootstrap/theme";
@import "formtastic-bootstrap";
@import "bootswatch/slate/bootswatch";

// make room for navigation bar
body { padding-top: 70px; }

.navbar-brand {
  background-image: image_url('mete-logo.svg');
  background-position: 0.5em 0.5em;
  background-repeat: no-repeat;
  background-size: 2em;
  padding-left: 3em;
}
