// Your custom LESS stylesheets goes here
//
// Since bootstrap was imported above you have access to its mixins which
// you may use and inherit here
//
// If you'd like to override bootstrap's own variables, you can do so here as well
// See http://twitter.github.com/bootstrap/less.html for their names and documentation
//
// Example:
// @linkColor: #ff0000;

.btn-drink, .btn-pay {
	width: 140px;
	height: 140px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.btn-drink:hover, .btn-pay:hover {
  background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.btn-drink, .btn-drink:hover {
  color: black;
}

.row {
    margin-top: 10px;
}

